.productWrap {
    padding: 40px 0;
}

.wrapper {
    display: flex;
    gap: 40px;
    // flex-wrap: wrap;
    align-items: flex-start;

    @media (max-width: 992px) {
      flex-direction: column;
    }

}

.gallery {
    display: flex;
    gap: 20px;
    // max-width: 400px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    .thumbs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 768px) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        img {
            width: 82px;
            height: 82px;
            object-fit: contain;
            border: 1px solid #ddd;
            cursor: pointer;
            border-radius: 8px;

            @media (max-width: 480px) {
              width: 50px;
              height: 50px;
            }
        }
    }

    .mainThumb {
        img {
            width: 100%;
            max-width: 457px;
            min-width: 250px;
            aspect-ratio: 1;
            border-radius: 6px;
            height: 100%;
            object-fit: contain;
            border: 1px solid #ddd;

            @media (max-width: 480px) {
              min-width: auto;
            }
        }
    }
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .meta {
        display: flex;
        gap: 30px;

        p {
            font-size: 14px;
            color: #777;

            span {
                font-weight: 600;
                color: #333;
            }
        }
    }

    .title {
        font-size: 28px;
        font-weight: 700;
    }

    .rating {
        font-size: 18px;
        color: #ccc;
        span {
            margin-right: 4px;
        }
    }

    .description {
        font-size: 15px;
        color: #444;
        line-height: 1.6;
    }

    .price {
        font-size: 26px;
        font-weight: bold;
        color: #1a1a1a;
    }

    .controls {
        display: flex;
        gap: 20px;
        align-items: center;

        .counter {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 14px 0;

            button {
                font-size: 40px;
                background: transparent;
                border: none;
                cursor: pointer;
                background: #f3f3f3;
                width: 48px;
                height: 48px;
                color: #1f2d5b;
                border-radius: 8px;
                line-height: 0;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                font-size: 24px;
                font-weight: 500;
                width: 24px;
                color: #192449;
                text-align: center;
            }
        }
    }

    .shipping {
        font-size: 14px;
        color: #666;

        span {
            color: #333;
        }
    }
}

.twink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
        font-size: 33px;
        cursor: pointer;
    }
}