.faq {
    padding-top: 60px;
    @media (max-width: 768px) {
      padding: 40px 0;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    h1 {
        font-weight: 500;
        // font-size: 56px;
        font-size: clamp(1.925rem, 1.6rem + 1.54vw, 3.5rem);
        line-height: 1.2;
        color: #1c2952;
    }
}

.list {
    > div {
        border-top: 1px solid #babecc;
        padding: 20px;

        cursor: pointer;

        &:last-child {
            border-bottom: 1px solid #babecc;
        }

        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-weight: 500;
            // font-size: 24px;
            font-size: clamp(1.125rem, 0.964rem + 0.66vw, 1.5rem);
            color: #1c2952;

            span {
                font-size: 40px;
                line-height: 1;
                display: block;
            }
        }

        p {
            font-weight: 400;
            // font-size: 18px;
            font-size: clamp(0.938rem, 0.857rem + 0.33vw, 1.125rem);
            
            line-height: 1.2;
            margin-top: 22px;
        }
    }
}
