@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
}

section {
  padding: 35px 0;

  @media (max-width: 768px) {
    padding: 15px 0;
    
  }
}


.swiper-pagination-bullet {
  margin: 0 3px !important;
  border: 1px solid #FFFFFF !important;
  opacity: 1 !important;
  width: 9px !important;
  height: 4px !important;
  background: none !important;
  border-radius: 7px !important;
  transition: 0.4s !important;

}

.swiper-pagination-bullet-active {
  width: 18px !important;
  background-color: #fff !important;
}