@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
}

#__next {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}
section {
  padding: 35px 0;

  @media (max-width: 768px) {
    padding: 15px 0;

  }
}


.swiper-pagination-bullet {
  margin: 0 3px !important;
  border: 1px solid #FFFFFF !important;
  opacity: 1 !important;
  width: 9px !important;
  height: 4px !important;
  background: none !important;
  border-radius: 7px !important;
  transition: 0.4s !important;

}

.swiper-pagination-bullet-active {
  width: 18px !important;
  background-color: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}


.reviews-slider {

  .swiper-button-prev,
  .swiper-button-next {
    right: 20px !important;
    bottom: 20px !important;
    top: auto !important;
    left: auto !important;

    width: 36px !important;
    height: 36px !important;
    border: 1px solid #1F2D5B !important;
    border-radius: 50%;
    z-index: 8 !important;
    background-color: #fff !important;

    transition: 0.4s !important;

    &::after {
      line-height: 1 !important;
      font-size: 22px !important;
      content: '→';
      position: relative !important;
      top: -1px !important;
    }

    &:hover {
      color: #fff !important;
      background-color: #1F2D5B !important;
    }
  }

  .swiper-button-prev {
    right: 70px !important;

    &::after {
      content: '←';
    }
  }
}

.empty_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;

  img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }

  a {
    font-size: 24px;
    color: #1c2952;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.pagination {

  gap: 4px;
  .page-item {
    a {
      background-color: transparent !important;
      border-color: #1f2d5b !important;
      color: #1f2d5b !important;
      aspect-ratio: 1 !important;
      margin: 0;
    }

    &.active {
      a {
        background-color: #1f2d5b !important;
        color: #fff !important;
      }
    }

    &.disabled {
      span {
        opacity: 0.5 !important;
        background-color: #fff !important;
        color: #1f2d5b !important;
      }
    }
  }

}