.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 50px 0;
    gap: 14px;

    @media (max-width: 480px) {
      margin: 35px 0;
    }

    a {
        text-decoration: none;
        font-size: 12px;
        color: #babecc;
        text-transform: capitalize;
    }

    span {
        font-size: 12px;
        color: #babecc;
    }
}
