.empty {
    width: 100%;
    height: 30dvh;
    display: grid;
    place-items: center;
    padding: 40px 0;

    img {
        width: 100%;
        max-width: 200px;
    }

    h2 {
        text-transform: uppercase;
        font-size: 20px;
    }
}

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 0;
}

.clear_favs{
    display: flex;
    justify-content: flex-end;
}